{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Dummy"}}

<h1 class="hds-typography-display-500">@hashicorp/ember-asciinema-player</h1>

<p class="hds-font-family-sans-text">
  <Hds::Link::Inline
    @href="/tests?hidepassed"
    @isHrefExternal={{false}}
    @icon="beaker"
    @iconPosition="leading"
  >Tests</Hds::Link::Inline>
  |
  <Hds::Link::Inline
    @href="https://github.com/hashicorp/ember-asciinema-player"
    @icon="github"
    @iconPosition="leading"
  >GitHub</Hds::Link::Inline>
</p>

<p class="hds-font-family-sans-text">
  Ember Asciinema Player
  is an Ember v4+ component wrapper for
  <Hds::Link::Inline
    @href="https://github.com/asciinema/asciinema-player"
    @icon="external-link"
  >asciinema-player</Hds::Link::Inline>.
  The following <Hds::Link::Inline
    @href="https://github.com/asciinema/asciinema-player#options"
    @icon="external-link"
  >supported options of asciinema-player</Hds::Link::Inline>
  may be passed as component arguments:
  <code class="hds-font-family-mono-code hds-foreground-highlight">autoPlay</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">loop</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">startAt</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">speed</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">idleTimeLimit</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">theme</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">poster</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">fit</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">controls</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">markers</code>,
  <code class="hds-font-family-mono-code hds-foreground-highlight">pauseOnMarkers</code>.
  <br>
  <br>
  Example usage:
  <code class="hds-font-family-mono-code hds-foreground-success">
    &lt;Heap::Player @data={{{'{{this.data}}'}}} @poster='npt:1:30' /&gt;
  </code>
</p>

<Heap::Player @data={{@model}} @poster='npt:1:30' />

{{outlet}}
